@model Web.Memberships.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model != null && Model.ThumbnailsArea != null && Model.ThumbnailsArea.Any())
        {
            foreach (var area in Model.ThumbnailsArea)
            {
                @Html.Partial("_SiteThumbnailAreaPartial", area)
            }
        }
    }
    else
    {
        @*left column*@
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>I am not logged in</h2>
        </div>
        @*right column*@
        <div class="col-lg-3 col-md-4 col-sm-5">
            <p>Right column</p>
        </div>
    }
</div>

@*Register Code Partial*@
<div class="row">
    <div class="col-sm-3 register-code-area">
        @Html.Partial("_SiteRegisterCodePartial")
    </div>
    <div class="col-sm-9">

    </div>
</div>

@*
    Set the the url to post the registeration code to
    The click event is in the SiteRegisterCode.js file
*@
@section scripts {
    <script>
    $(function (e) {
        registerCode._registerCodeUrl = '@Url.Action("Register", "RegisterCode", new { Area = "" })';
    });
    </script>
}